<h1>TOTAL DE DATOS CORONAVIRUS A NIVEL MUNDIAL </h1>
<button (click)="getAllDatos()">OBTENER LOS DATOS</button>
<br><br>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">CONFIRMADOS</th>
      <th scope="col">FALLECIDOS</th>
      <th scope="col">RECUPERADOS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let datos of datos">
      <th scope="row">1</th>
      <td>{{datos.confirmed}}</td>
      <td>{{datos.deaths}}</td>
      <td>{{datos.recovered}}</td>
    </tr>
    
  </tbody>
</table>